/* ************************************************************************
* Execution        : cmd> node index.js
* @descrition      : Stylesheet for registration
* @file            : registration.scss
* @author          : Dhruv Shetty
* @version         : 1.0
* @since           : 8-Dec-2021
*
**************************************************************************/
#sign-in-button {
  text-transform: none;
  font-weight: bold;
}

#registeration-form {
  width: 50%;
  margin: 2% auto;
}
